  @font-face {
      font-family: 'Allegin';
      src: url('fonts/Allegin.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'Filson Pro';
      src: url('fonts/FilsonProRegular.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
  }


  #modalContent {
      background-color: #F5F0E1;
      color: #914110;
      font-size: 16.06px;
      font-family: Filson Pro, sans-serif;
      font-weight: 350;
      line-height: 24px;
      letter-spacing: 1.12px;
  }

  .modal-header {
      background-color: #914110;
      color: #F5F0E1;
      /* text-align: center; */
      padding: 2.19rem 2rem;
  }

  .btn-primary {
      background: #001F3F;
      border-color: #001F3F;
      color: white;
  }

  .btn-primary:hover {
      border-color: #914110;
      background-color: #914110;
      box-shadow: 0 0 5px #001F3F(0, 0, 255, 0.5);
      /* Add any other styles you want for the active or focused state */
  }

  .form-control {
      background-color: #F5F0E1;
      border: 1px solid #914110;
  }

  .close {
      color: #F5F0E1;
  }

  .form-control:active,
  .form-control:focus {
      border-color: #001F3F;
      background-color: #f0f0f0;
      box-shadow: 0 0 5px #001F3F(0, 0, 255, 0.5);
      /* Add any other styles you want for the active or focused state */
  }

  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {
      body {
          background-color: #F5F0E1;
          height: 100%;
          padding: 4.56rem 1.5rem;
      }

      .header {
          background-color: #914110;
          height: 30%;
          color: #F5F0E1;
          text-align: center;
          padding: 2.19rem 2rem;
      }

      .header h1 {
          font-size: 3.01438rem;
          font-family: Allegin, sans-serif;
          font-weight: 400;
          word-wrap: break-word;
          line-height: 3rem;
      }

      .content {
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
      }

      #firstly {
          order: -1;
          margin-left: 2.44rem;
      }

      #well {
          order: 13;
      }

      .content-text {
          color: #914110;
          font-size: 0.50188rem;
          font-family: Filson Pro, sans-serif;
          font-weight: 350;
          font-style: normal;
          line-height: 0.8125rem;
          letter-spacing: 0.03513rem;
          word-wrap: break-word;
          padding: 0 1.5rem 1.83rem 1.5rem;
      }

      .waitlist-btn {
          padding: 15px;
          margin: 0 0 2.73rem 1.5rem;
          background: #001F3F;
          color: white;
          font-family: Filson Pro, sans-serif;
          font-weight: 700;
          cursor: pointer;
      }
  }

  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
      body {
          background-color: #F5F0E1;
          height: 100%;
          padding: 3.30rem 3.56rem;
      }

      .header {
          background-color: #914110;
          height: 30%;
          color: #F5F0E1;
          text-align: center;
          padding: 1.62rem 3.75rem;
      }

      .header h1 {
          font-size: 3.5rem;
          font-family: Allegin, sans-serif;
          font-weight: 400;
          word-wrap: break-word;
      }

      .content {
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
      }

      .content-text {
          color: #914110;
          font-family: Filson Pro, sans-serif;
          font-size: 0.5625rem;
          font-style: normal;
          font-weight: 350;
          line-height: 0.781rem;
          letter-spacing: 0.03938rem;
          word-wrap: break-word;
          padding: 1.75rem 2.14rem 1.88rem 1.62rem;
      }

      .waitlist-btn {
          padding: 15px;
          margin: 1rem 0 2.92rem 1.62rem;
          background: #001F3F;
          color: white;
          font-family: Filson Pro, sans-serif;
          font-weight: 700;
          cursor: pointer;
      }
  }

  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px) {
      body {
          background-color: #F5F0E1;
          height: 100%;
          padding: 3.30rem 3.56rem;
      }

      .header {
          background-color: #914110;
          height: 30%;
          color: #F5F0E1;
          text-align: center;
          padding: 1.62rem 3.75rem;
      }

      .header h1 {
          font-size: 3.5rem;
          font-family: Allegin, sans-serif;
          font-weight: 400;
          word-wrap: break-word;
      }

      .content {
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
      }

      .content-text {
          color: #914110;
          font-family: Filson Pro, sans-serif;
          font-size: 0.5625rem;
          font-style: normal;
          font-weight: 350;
          line-height: 0.781rem;
          letter-spacing: 0.03938rem;
          word-wrap: break-word;
          padding: 1.75rem 2.14rem 1.88rem 1.62rem;
      }

      .waitlist-btn {
          padding: 15px;
          margin: 1rem 0 2.92rem 1.62rem;
          background: #001F3F;
          color: white;
          font-family: Filson Pro, sans-serif;
          font-weight: 700;
          cursor: pointer;
      }
  }

  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px) {
      body {
          background-color: #F5F0E1;
          height: 100% !important;
          padding: 47px 60px;
      }

      .header {
          background-color: #914110;
          height: 30%;
          color: #F5F0E1;
          text-align: center;
          padding: 3.12rem 10.38rem;
      }

      .header h1 {
          font-size: 81.06px;
          font-family: Allegin, sans-serif;
          font-weight: 400;
          word-wrap: break-word;
      }

      .content {
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
      }

      .content-text {
          color: #914110;
          font-family: Filson Pro, sans-serif;
          font-size: 1.00375rem;
          font-style: normal;
          font-weight: 350;
          line-height: 1.5rem;
          letter-spacing: 0.07025rem;
          word-wrap: break-word;
          padding: 34.57px 36px 34px 63px;
      }

      .waitlist-btn {
          padding: 15px;
          margin: 34px 0 54px 63px;
          background: #001F3F;
          color: white;
          font-family: Filson Pro, sans-serif;
          font-weight: 700;
          cursor: pointer;
      }

      .container {
          width: 100% !important;
          max-width: 100% !important;

      }
  }

  /* Media Query for Large screens */
  @media (min-width: 1281px) {
      body {
          background-color: #F5F0E1;
          height: 100% !important;
          padding: 47px 60px;
      }

      .header {
          background-color: #914110;
          height: 30%;
          color: #F5F0E1;
          text-align: center;
          padding: 3.12rem 10.38rem;
      }

      .header h1 {
          font-size: 81.06px;
          font-family: Allegin, sans-serif;
          font-weight: 400;
          word-wrap: break-word;
      }

      .content {
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
      }

      .content-text {
          color: #914110;
          font-family: Filson Pro, sans-serif;
          font-size: 1.00375rem;
          font-style: normal;
          font-weight: 350;
          line-height: 1.5rem;
          letter-spacing: 0.07025rem;
          word-wrap: break-word;
          padding: 34.57px 36px 34px 63px;
      }

      .waitlist-btn {
          padding: 15px;
          margin: 34px 0 54px 63px;
          background: #001F3F;
          color: white;
          font-family: Filson Pro, sans-serif;
          font-weight: 700;
          cursor: pointer;
      }

      .container {
          width: 100% !important;
          max-width: 100% !important;

      }
  }